/.idea
/stats/
/site_config/setting.py
/advancements/
/playerdata/
site_config/__pycache__/__init__.cpython-37.pyc
.vscode/settings.json
general/__pycache__/project_general.cpython-36.pyc
general/__pycache__/project_general.cpython-37.pyc
pages/__pycache__/__init__.cpython-36.pyc
pages/__pycache__/__init__.cpython-37.pyc
pages/index/__pycache__/__init__.cpython-36.pyc
pages/index/__pycache__/__init__.cpython-37.pyc
pages/index/__pycache__/input.cpython-36.pyc
pages/index/__pycache__/input.cpython-37.pyc
pages/index/__pycache__/main.cpython-36.pyc
pages/index/__pycache__/main.cpython-37.pyc
site_config/__pycache__/BaseHandler.cpython-36.pyc
site_config/__pycache__/BaseHandler.cpython-37.pyc
site_config/__pycache__/__init__.cpython-36.pyc
site_config/__pycache__/dblink.cpython-36.pyc
site_config/__pycache__/dblink.cpython-37.pyc
site_config/__pycache__/setting.cpython-36.pyc
site_config/__pycache__/setting.cpython-37.pyc
site_config/__pycache__/url.cpython-36.pyc
site_config/__pycache__/url.cpython-37.pyc
.vscode/launch.json
